body {
    font-family: 'Raleway', sans-serif, Cambria, Georgia;
    background-color: #e3e3e3;
    overflow: hidden;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 22px;
    font-family: 'Bitter', serif;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

.header-container, .main-container, .footer-container {
    width: 700px;
    margin: 0 auto;
}

.main-container {
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.main-container .resource, .main-container h3 {
    padding: 16px 23px;
}

.main-container h3 {
    margin: 0;
    color: #373E41;
    font-size: 20px;
    font-weight: bold;
    background-color: #ECEFF1;
}

.main-container h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.main-container p {
    margin: 0;
}

.main-bar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 700px;
    background-color: white;
    min-height: 100%;
    min-height: 100vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow-y: scroll;
}


.title-bar {
    background-color: #07a4d7;
    width: 100%;
    padding: 1em 2em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.title-bar h1 {
    margin: 0;
    color: white;
}

.logo-section img {
    max-width: 100%;
}

.subtitle{
    padding: 2em;
}

.fb-page{
    text-align: center;
    display: block!important;
}

#video {
    position: relative;
    background: transparent;
}

.ytplayer-container {
    position: absolute;
    top: 0;
    z-index: -1;
}
